---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.construction { width:100%; text-align: center;}

body { background-color: #eeedff;
       color: #5b5b76; }

a { color: #936c92 }
a:visited { color: #927197 }
a:hover { color: #d27c95 }

.site-header .wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.site-header h1 {
  font-size: 56px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(#d27c95,#ff9784, #ffc36e, #f9f871);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-header { background: #6c6383; }

.site-nav {
  margin-bottom: 20px;
}

a:visited.my-page-link { color: #ff9784 }
a:hover.my-page-link { color: #f9f871 }
a.my-page-link a { color: #ffc36e }


.wrapper:after { content: initial;}


h2 { margin-top: 2em;}

h3 { margin-top: 1.5em;}

p.right { text-align  : right }